---
http_interactions:
- request:
    method: get
    uri: https://api.polygon.io/v3/reference/options/contracts/O:SPY251219C00650000?apiKey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"results":{"cfi":"OCASPS","contract_type":"call","exercise_style":"american","expiration_date":"2025-12-19","primary_exchange":"BATO","shares_per_contract":100,"strike_price":650,"ticker":"O:SPY251219C00650000","underlying_ticker":"SPY"},"status":"OK","request_id":"2587013527993ef7c98b24475e75eeac"}'
  recorded_at: Tue, 28 Apr 2020 17:02:21 GMT
recorded_with: VCR 5.1.0
